# --- Global ---
*.env
*.env.*
__pycache__/
*.py[cod]
*.sqlite3
.DS_Store


# --- Python / FastAPI ---
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/.pytest_cache/
backend/.mypy_cache/
backend/venv/
backend/env/
backend/.venv/

# --- Node / React ---
frontend/node_modules/
frontend/.next/
frontend/.cache/
frontend/dist/
frontend/build/
frontend/.env*
frontend/.turbo/

# --- OS and Editor specific ---
*.swp
*.swo
*.bak
*.tmp
*.idea/
*.vscode/
*.VSCodeCounter/
Thumbs.db

# --- Docker ---
**/.docker-compose.override.yml
**/docker-compose.override.yml



# --- Volumes ---
volumes/
postgres_data/

shared/

# Ignore model files but keep Dockerfiles
models/translation/*
!models/translation/Dockerfile

models/emotion/*
!models/emotion/Dockerfile

models/classifier/*
!models/classifier/Dockerfile

models/audio/*
!models/audio/Dockerfile

models/geolocation/*
!models/geolocation/Dockerfile

models/geocoding/*
!models/geocoding/Dockerfile

models/image/*
!models/image/Dockerfile

*.gguf
*.bin
*.safetensors