# --- Global ---
*.env
*.env.*
__pycache__/
*.py[cod]
*.sqlite3
.DS_Store


# --- Python / FastAPI ---
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/.pytest_cache/
backend/.mypy_cache/
backend/venv/
backend/env/
backend/.venv/

# --- Node / React ---
frontend/node_modules/
frontend/.next/
frontend/.cache/
frontend/dist/
frontend/build/
frontend/.env*
frontend/.turbo/

# --- OS and Editor specific ---
*.swp
*.swo
*.bak
*.tmp
*.idea/
*.vscode/
*.VSCodeCounter/
Thumbs.db

# --- Docker ---
**/.docker-compose.override.yml
**/docker-compose.override.yml



# --- Volumes ---
volumes/
postgres_data/

shared/

# Ignore model files but keep Dockerfiles
models/translation/*
!models/translation/Dockerfile
!models/translation/*.py

models/emotion/*
models/emotion/german-emotion/*
!models/emotion/Dockerfile
!models/emotion/*.py

models/classifier/*
!models/classifier/Dockerfile
!models/classifier/*.py

models/audio/*
!models/audio/Dockerfile
!models/audio/*.py

models/geolocation/*
!models/geolocation/Dockerfile
!models/geolocation/*.sh

models/geocoding/*
!models/geocoding/Dockerfile
models/photon/*
!models/photon/Dockerfile
!models/photon/*.sh

models/image/*
!models/image/Dockerfile
!models/image/*.py

*.gguf
*.bin
*.safetensorsgerman-emotions.tar.gz

aether_tutorial/assets/*
