fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
requests
pydantic-settings
docker 
telethon==1.40
psycopg2-binary
python-dotenv
neo4j
python-multipart
sqlalchemy
pydantic
redis==5.0.1
rq==1.14.0