fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
requests
httpx
pydantic-settings
docker 
telethon==1.40
psycopg2-binary
python-dotenv
neo4j
python-multipart
sqlalchemy
pydantic
aiohttp
rq==1.16.2
redis>=5.0.0
langdetect==1.0.9
Pillow
